*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    align-items: center;
    text-decoration-color: whitesmoke;
    background-color: black;
}
.header{
    text-decoration-color: wheat;
    padding: 25px;
    outline-color: wheat;
    visibility: visible;
    outline-color: wheat;
    padding: 50px;
    align-items: center;
    text-align: center;
    fill: wheat;
    color: wheat;
}
.search_box{
    width: 200px;
    height: 40px;
    text-decoration-color: tomato;
    outline: tomato;
    outline-color: tomato;
    -webkit-text-fill-color: tomato;
    color: tomato;
}
.nav_links{
    text-align: right;
    padding: 25vh,50vw;
    margin: 15vh,25vw;
    word-spacing: 25px;
}
.image{
    text-align: right;
    align-items: flex-end;
    margin: 5%;
    padding: 0%;
    
    
}
.body_text{
    color: lightsalmon;
    background-color: lightsalmon;
    visibility: visible;
    top: auto;
}
.button{
    padding: 2%;
    margin: 1%;
    visibility: visible;
    color: burlywood;
    text-decoration-color: burlywood;
    height: 25px;
    background-origin: border-box;   
}

